
$color-success: #31AD35;
$color-primary: #286fa7;
$color-warning: #F29A00;
$color-error: #FC2B4A;

$text-color-grey: #999999;
$text-color-title: #333333;
$text-color-content: #666666;
$text-color-inverse: #ffffff;

$bg-color: #ffffff;

$border-color: #dcdfe6;

$box-shadow-color: rgba(0,0,0,.3);

$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: 16px;

$border-radius-sm: 4px;
$border-radius-base: 10px;
$border-radius-lg: 15px;

$space-col-base: 15px;
$space-row-base: 15px;
